body {
    margin: 0;
    box-sizing: border-box;
    height: 5000px;
    }
    nav {
        background-color: black;
        overflow: hidden;
        position: fixed;
        width: 100%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    nav .logo {

        color: #fff;
        float: left;
        display: block;
        padding: 14px 16px;
    }
    nav a {

        color: #fff;
        float: right;
        text-decoration: none;
        display: block;
        padding: 14px 16px;
    }
    nav a:hover {

        transition: 0.5s;
        background-color: #e4e4e4;
        color: black;
        
    }